@import "tailwindcss";

:root {
  /* Primary & Secondary Colors */
  --primary: #0ea5e9; /* Main brand color */
  --secondary: #a16207; /* Complementary color */

  /* Accent */
  --accent: #facc15; /* Highlight elements */

  /* Text Colors */
  --text-primary: #171717; /* Main text */
  --text-secondary: #525252; /* Subtle text */

  /* Buttons */
  --btn-bg: var(--primary);
  --btn-text: #ffffff;
  --btn-hover: #0284c7;

  /* Links */
  --link: #2563eb;
  --link-hover: #1e40af;

  /* Background */
  --bg: #f5f5f5;
}

@layer base{


  body{
    @apply bg-[var(--bg)] ;
  }

}
form{
  @apply flex;
}
.form-group{
  @apply self-start w-full flex flex-col gap-2;
}

.form-group input{
  @apply  border-2 border-[var(--primary)] p-1 rounded-md relative;
}

